<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layouts/default">
<head>
    <meta charset="UTF-8">
    <title>Add Student</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/styles/monokai-sublime.min.css"/>
</head>
<script>
    function clearParagraphs() {
        document.getElementById("studentName+").innerHTML = "";
        document.getElementById("studentRoom+").innerHTML = "";
        document.getElementById("studentPhone+").innerHTML = "";
        document.getElementById("studentEmail+").innerHTML = "";
        document.getElementById("studentAvgGrade+").innerHTML = "";
        document.getElementById("studentEngCert+").innerHTML = "";
    }
</script>
<style>
    background {
        position: center;
    }
    .background::before {
        content: "";
        background-image: url('/images/students.jpg');
        background-size: cover;
        background-repeat: repeat-y;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }
    .content {
        position: relative;
    }
    html {
         position: relative;
         min-height: 100%;
         padding-bottom: 0;
     }
    body {
        margin-bottom: 0;
    }
</style>
<body>
    <div class="background">
        <div class="content">
            <div class="col-6 mt-3" style="margin: auto; text-align: left">
                <form method="post" class="form-signin" style="font-weight: bold" th:object="${studentForm}" th:action="@{/new_student}">
                    <div style="font-weight: bold;" th:if="${wrongEmail}" class="alert alert-danger" role="alert">
                        Introduceti o adresa de e-mail valida
                    </div>
                    <div style="font-weight: bold;" th:if="${wrongPhone}" class="alert alert-danger" role="alert">
                        Introduceti un numar corect din 10 cifre
                    </div>
                    <div class="form-group">
                        <label for="studentName+">Name</label>
                        <input type="text" th:field="*{name}" class="form-control" id="studentName+"
                               th:placeholder="*{name}" autofocus="true" required>
                    </div>
                    <div class="form-group">
                        <label for="studentRoom+">Room</label>
                        <input type="text" th:field="*{room}" class="form-control" id="studentRoom+"
                               th:placeholder="*{room}" autofocus="true" required>
                    </div>
                    <div class="form-group">
                        <label for="studentPhone+">Phone</label>
                        <input type="text" th:field="*{phone}" class="form-control" id="studentPhone+"
                               th:placeholder="*{phone}" autofocus="true" required>
                    </div>
                    <div class="form-group">
                        <label for="studentEmail+">E-mail</label>
                        <input type="text" th:field="*{email}" class="form-control" id="studentEmail+"
                               th:placeholder="*{email}" autofocus="true" required>
                    </div>
                    <div class="form-group">
                        <label for="studentAvgGrade+">Average Grade</label>
                        <input type="text" th:field="*{avgGrade}" class="form-control" id="studentAvgGrade+"
                               th:placeholder="*{avgGrade}" autofocus="true" required>
                    </div>
                    <div class="form-group">
                        <label for="studentEngCert+">English Certificate</label>
                        <input type="text" th:field="*{engCert}" class="form-control" id="studentEngCert+"
                               th:placeholder="*{engCert}" autofocus="true" required>
                    </div>
                    <button type="submit" class="btn btn-primary" style="font-weight: bold">Add Student</button>
                    <input class="btn btn-secondary" type="submit" value="Back" style="font-weight: bold" onclick="location.href='../students'"/>
                    <script>
                        function submitForm() {
                            // document.forms[1].submit();
                            // document.forms[1].reset();
                            // clearParagraphs();
                        }
                    </script>
                </form>
            </div>
        </div>
    </div>
</body>
</html>